.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(170, 53, 160);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}

/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: white;
  cursor: pointer;
}

.dropbtn2 {
  background-color: #3498DB;
  color: white;
  margin-top: 50px;
  padding: 16px;
  font-size: 16px;
  border: white;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropbtn2:hover, .dropbtn2:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  background-color: rgb(163, 169, 173);
  color: black;
  padding: 16px;
  font-size: 16px;
  margin-top: 10px;
  margin-right: 10px;
  border: solid, white;
  cursor: pointer;
}

/* Links inside the dropdown */
.dropdown-content a {
  text-align: left;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.Map{
  text-align: left;
}

.Spec-button {
  background-color: rgb(163, 169, 173);
  color: black;
  padding: 16px;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 8px;
  border: solid, white;
  cursor: pointer;
}

.Spec-title {
  text-align: left;
  padding: 10px;
  display: none;
  font-size: 1.25em;
}

.Big-title {
  text-align: left;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  font-size: 1.55em;
}

.Test-title {
  text-align: left;
  color: black;
  padding: 10px;
  display: inline;
  position: center;
  font-size: 1.25em;
}

.Traits{
  font: verdana;
  font-size: medium;
  color: black;
}

.waterSquare{
  height: 10px;
  width: 10px;
  background-color: rgb(50, 66, 209);
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Different Types of "Squares" for grid: */

/* Desert Squares */

.Dsquare {
  background: rgb(218, 195, 122);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 34px;
}

.QSDsquare {
  background: rgb(218, 180, 122);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 34px;
}

.DRDsquare {
  background: rgb(116, 114, 111);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 34px;
  border-radius: 40%;
}



/* Forest Squares */

.Fsquare {
  background: rgb(14, 116, 31);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 34px;
}

.TFsquare {
  background: rgb(104, 63, 10);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 34px;
  border-radius: 50%;
}


/* Plains Squares */

.Psquare {
  background: rgb(92, 170, 89);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 34px;
}

.BPsquare {
  background: rgb(51, 97, 50);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 34px;
  border-radius: 40%;
}

.RPsquare {
  background: rgb(102, 107, 101);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 34px;
  border-radius: 40%;
}


/* Mountain Squares */

.Msquare {
  background: rgb(95, 89, 33);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 34px;
}

.MDsquare {
  background: black;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 34px;
}

.MRsquare {
  background: rgb(80, 80, 78);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 34px;
  border-radius: 43%;
}


/* Underground Squares */

.Gsquare {
  background: rgb(124, 124, 124);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 34px;
}

.GDsquare {
  background: black;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 34px;
}

.GRsquare {
  background: rgb(88, 88, 88);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 34px;
  border-radius: 43%;
}


/* Underwater Squares */

.Wsquare {
  background: rgb(67, 95, 189);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 34px;
}

.CWsquare {
  background: rgb(221, 102, 102);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 34px;
  border-radius: 12%;
}

.WRsquare {
  background: rgb(192, 181, 159);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 34px;
}

.GridTabl {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: center;
  border: 0px;
  border-spacing: 0px;
  border-collapse: collapse;

}